.brand {
  margin-top: 0;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 -1px $color-black-transparent-70,
  0 -2px $color-black-transparent-70;
}

.game {
  margin: 0 auto;
  position: relative;
  .shutter{
    position: absolute;
    height: 100%;
    width: 100%;
    background: $color-black-transparent-85;
    top: 0;
    left: 0;
    font-size: 2em;
    padding: .5em;
    box-sizing: border-box;
    transition: color 300ms ease, transform 300ms ease 300ms;
    border-radius: 5px;
  }
  &.on .shutter{
    transform: scaleY(0);
    color: $color-black-transparent-85;
    transition: color 300ms ease, transform 300ms ease 300ms;
  }
}

button {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 0;
  border-radius: 3px;
  background: $color-shadow;
  box-shadow: inset 0 0 8px 4px $color-black-transparent-70;


}

h2.status {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: .6em;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0 0 8px 4px $color-black-transparent-70;
  color: $color-white-transparent-70;
}

.players{
  margin-top: 5em;
  width: 100%;
  .x{ float: left;}
  .o{ float: right;}
}

.player{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.win{
  background-color: $color-green;
}

.x {
  background-image: url('../images/x.svg');
  background-repeat: no-repeat;
}

.o {
  background-image: url('../images/o.svg');
  background-repeat: no-repeat;
}
