.brand {
  margin-top: 0;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 -1px $color-black-transparent-tint,
  0 -2px $color-black-transparent-tint;
}

.game {
  margin: 0 auto;
}

button {
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 0;
  border-radius: 3px;
  background: $color-shadow;
  box-shadow: inset 0 0 8px 4px $color-black-transparent-tint;


}

.players{
  h2 {
    text-align: center;
    display: inline-block;
    margin-top: 30px;
  }
  .player{
    width: 80px;
    height: 80px;
    display: inline-block;
  }
  .o{
    float: right;
  }
  .x{
    float: left;
  }
}
.win{
  background-color: #060;
}
.x {
  background-image: url('../images/x.svg');
  background-repeat: no-repeat;
}

.o {
  background-image: url('../images/o.svg');
  background-repeat: no-repeat;
}
