<!doctype html>
<html>
<head>
  <title>Tic Tac Toe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Simple Tic Tac Toe game against a bot you can play forever!">
  <meta name="keywords" content="game, tic, tac, toe, tic-tac-toe, tic tac toe">
  <script src="public/scripts/main.js?v=01"></script>
  <link rel="stylesheet" href="public/styles/main.css?v=01" type="text/css" />
  <link rel="icon" type="image/png" href="./favicon.png?v=00" sizes="128x128">
</head>
%body
  %div.container
    %h1.brand Tic-Tac-Toe
    %div.game
      %button.reset#r1c1
      %button.reset#r1c2
      %button.reset#r1c3
      %button.reset#r2c1
      %button.reset#r2c2
      %button.reset#r2c3
      %button.reset#r3c1
      %button.reset#r3c2
      %button.reset#r3c3
      %div.shutter
        %p.message Choose an option to start the game
        %div.players
          %div.player.x
          %div.player.o
      %h2.status ...
</html>
